@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  background-color: #141414;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

body {
  font-family: 'GFS Didot', serif;
}
